@model POSApplication.Models.Sale

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Deshboard.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <input class="form-control" placeholder="Invoice Number" type="search" name="" id="SaleID" value="" />
        </div>
        <div class="col-4">
            <input type="button" onclick="Search()" class="form-control" value="Search" />
        </div>

        <div class="col-4">
            <input type="button" onclick="Sale()" id="SalesReturn" class="form-control d-none" value="SalesReturn" />
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div>
                <table cellspacing="0" rules="all" class="table table-striped table-bordered" border="1" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th>ProdcutName</th>
                            <th>Quantity</th>
                            <th>UnitPrice</th>
                            <th>Amount</th>
                            <th>Return</th>
                        </tr>
                    </thead>
                    <tbody id="tablebody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>

    var id;
    function Search() {
        id = $("#SaleID").val();

        var data = {

            SaleID: id
        }
        $.ajax({
            url: "/SalesReturn/GetSale",
            type: "POST",
            data: data,
            success: function (cart) {
                if (cart == "Redirect") {
                    window.location.href = '/Accounts/Login';
                }
                else {


                    if (cart != "Null") {

                        $("#tablebody").html('');
                        var s = '';
                        for (var i = 0; i < cart.length; i++) {
                            s += '<tr><td>' + cart[i].ProductName + '</td>'
                                + '<td>' + cart[i].Quantity + '</td>'
                                + '<td>' + cart[i].UnitPrice + '</td>'
                                + '<td>' + cart[i].Amount + '</td>'


                                + '<td>' + '<i style="cursor: pointer;" title="Return" class="fa fa-undo" onclick="Return(' + cart[i].SalesDetailID + ')"></i>' + '</td>'
                                + '</tr>';

                        }

                        $("#tablebody").html(s);
                        $("#SalesReturn").removeClass("d-none");
                    }
                    else {
                        $("#tablebody").html("<h1>No Record Found</h1>");
                        $("#SalesReturn").addClass("d-none");
                    }
                }
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }

        });
    }
    function Return(id) {
        var data = {

            SalesDetailID: id
        }
        $.ajax({
            url: "/SalesReturn/ReturnItem",
            type: "POST",
            data: data,
            success: function (cart) {
                alert(cart);
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }

        });
    }
    function Sale() {
        $.ajax({
            url: "/SalesReturn/SalesReturn",
            type: "POST",
            success: function (cart) {
                alert(cart);
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }

        });
    }

</script>
